// Services Code Prettify styles

.com {
  color: #999;
}
.lit {
  color: #195f91;
}
.pun, .opn, .clo {
  color: #93a1a1;
}
.fun {
  color: #dc322f;
}
.str, .atv {
  color: #C7254E;
}
.kwd, .prettyprint .tag {
  color: #2F6F9F;
}
.typ, .atn, .dec, .var {
  color: #428BCA;
}
.pln {
  color: #333;
}

.prettyprint {
  padding: 9px 14px;
  margin-bottom: 20px;
  margin-top: 20px;
  border: 1px solid #eee;

  &.linenums {
    -webkit-box-shadow: inset 40px 0 0 #fbfbfb, inset 41px 0 0 #f6f6f6;
       -moz-box-shadow: inset 40px 0 0 #fbfbfb, inset 41px 0 0 #f6f6f6;
            box-shadow: inset 40px 0 0 #fbfbfb, inset 41px 0 0 #f6f6f6;
  }
}

// Specify class=linenums on a pre to get line numbering
ol.linenums {
  margin: 0 0 0 -12px;

  li {
    padding-left: 12px;
    color: #bebebe;
    line-height: 18px;
  }
}
