/* ----------------------------------

Name:yellow.css
Version:1.3

---------------------------------- */

/* Logo */


a:hover { color: #ffb400; }

/* Header */
.navbar-inverse .navbar-nav > li.current > a, 
.navbar-inverse .navbar-nav > li > a:hover { border-bottom: 2px solid #ffb400 }
.highlight { background-color: transparent; font-size: 60px; line-height: 50px; font-weight: 100; padding: 0; color: #000; }
header { background: url(http://placehold.it/1920x1080) no-repeat center top; -webkit-background-size: cover; background-size: cover; height: 100%; -webkit-transition: ease-in-out; -moz-transition: ease-in-out; -o-transition: ease-in-out; transition: ease-in-out; }
.yellow header .intro-section { padding: 60px 0 60px 60px; z-index: 3; position: absolute; left: 49.2%; top: 32%; color: #000; width: 100%; background: url(http://placehold.it/984x483) no-repeat left center; }
.highlight strong { display: block; }
.color-overlay { background-color: rgba(0, 0, 0, 0.1); position: relative; height: 100%; width: 100% }
header .intro-section .intro { margin-bottom: 20px; line-height: 72px; }
.treatments { border-top: 1px solid #000; color: #FFF; padding: 20px 0 35px; display: table; margin: 0; font-size: 16px; color: #000; }
header .intro-section .highlight-button { background-color: #000; border: 2px solid #000; color: #FFF; }

/* About */
.green-line { margin: 15px auto 13px; z-index: 1; width: 80px; height: 6px; background: #66b572; }
.title-text { padding: 0; }
h2.title { vertical-align: middle; display: table-cell; letter-spacing: -2px; font-size: 95px; line-height: 2.7; font-weight: 300; font-family: 'Oswald', sans-serif; text-transform: uppercase; }
.title-text { text-align: center; height: auto; }
.description { font-size: 16px; line-height: 26px; font-weight: 400; }
.about-details { overflow: hidden; position: relative; }
.about-details-img { position: absolute; height: 100%; background: url("../../images/mercado.png"); -webkit-background-size: cover; background-size: cover; width: 50%; }
.about-details-img-2 { position: absolute; height: 100%; background: url("../../images/mercado-2.png"); -webkit-background-size: cover; background-size: cover; width: 50%; left: 50%;}
.about-con ul li { padding: 12px 0; border-bottom: 1px solid #575757; }
.about-con ul li:last-child { border-bottom: none; }
.award-icon { padding: 35px; }

/* Work */
.isotope-filters li a:hover, 
.isotope-filters li a:focus, 
.isotope-filters li a:active, 
.isotope-filters li a.active { color: #FFF; font-weight: 600; }
.isotope-filters li a { font-size: 14px; font-family: 'Open Sans'}
.portfolio-figure figcaption { background-color: #000}
.portfolio-figure .title { color: #ffb400; font-size: 20px; margin: 0}
.portfolio-figure figcaption span { color: #686868; font-family: 'Open Sans'; font-size: 14px;}
.portfolio-figure figcaption{ padding: 22px 25px}
.portfolio-figure figcaption i { font-size: 26px; color: #ffb400; top: -17px; right: 15px; }
.popup-slide figure { background-color: #000; }
.popup-navigation span.nav-next, .popup-navigation span.nav-prev { background-color: #ffb400; }
.popup-navigation span.nav-next:hover, .popup-navigation span.nav-prev:hover { color: #000; }
.popup-line { background-color: #2e2e2e; }
.popup-slide .right-part { color: #656565; }
span.nav-close:before { color: #FFF; }

/* Work Count */
.work-count-box { text-align: center; }
span.title { display: block; text-align: center; color: #000; font-family: 'Open Sans', sans-serif; font-size: 14px; letter-spacing: 1px; font-weight: 600; margin: 30px 0 5px; }
.work-count-box .gray-text { margin: 0 auto; font-size: 13px; line-height: 21px; width: 80%; }

/* Skills */
#skills { padding-top: 0; }
.skills-details-img { position: absolute; height: 100%; background: url(http://placehold.it/1000x750); -webkit-background-size: cover; background-size: cover; width: 50%; }
.progress { background-color: #575757; }
.progress-bar { background-color: #707070; }
.progress-name { text-transform: uppercase; margin: 0 0 10px 0; font-size: 14px; letter-spacing: 1px; }
.count h3 { padding-top: 0 !important; }

/* Testimonial */
#testimonial { padding: 90px 0; }
.testimonial { background: url(http://placehold.it/1920x1000) no-repeat center top; -webkit-background-size: cover; background-size: cover; }
.carousel-indicators li { border: 2px solid #7c7c7c; }
.carousel-indicators .active { background-color: #7c7c7c; }
.testimonial img { width: auto; }

/* Education */
#education { padding-top: 0 }
.education .team-profile { padding: 45px 25px;}
.education .year { font-size: 25px; font-weight: 100; font-family: "Oswald",sans-serif}
.education .team-profile i { display: block; font-size: 55px; margin-bottom: 30px;}
.education .university { display: block; color: #828282; font-size: 16px; text-transform: uppercase; margin:0}
.education .namerol { padding: 35px 25px}
.education .team-details span { display: block; margin: 0 0 5px 0}
.education .result { font-size: 20px; font-weight: 100; margin-top: 20px !important; }
.education .carousel-indicators { bottom: -60px; }
.education .carousel { overflow: visible; }
.education .container{ overflow: hidden}

/* Contact */
.contact-info { border-top: 1px solid rgba(235, 235, 235, 0.3); padding-top: 70px; }
.form-control { background-color: #FFFFFF; border-bottom: none; color: #808080}
.contact-info textarea.form-control {
    max-width: 585px;
    border-radius: 0;
}

/* Footer */
#footer .color-overlay { background-color: rgba(0, 0, 0, 1); }

/* Color and Othe Element */
i { color: #ffb400 }
.orange-bg { background-color: #ffb400 }
.social i:hover { color: #ffb400 }
.map-button:before { color: #ffb400 }
.popup-slide .title { color: #ffb400 }
.popup-navigation span:hover { color: #ffb400 }
#success { border-color: #ffb400; color: #ffb400; }
.loader-running { background-color: #000; }
.loader .loader-progress { background-color: #ffb400; }